
  
	  #snakeboard {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      #score {
        text-align: center;
        font-size: 100px;
		position: absolute;
        top: 25%;
        left: 50%;
		transform: translate(-50%, -50%);
      }
	  #score{
	    font-family:italic;
	    font-weight: bold ;
	  }
	  #title{
	   font-color : red;
	   font-family:Cursive;
	   font-family:Fantsy;
	   text-align:center;
	  }


    
